 <div class="row">
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
	            <div class="panel panel-info" >
	                    <div class="panel-heading">
	                        <div class="panel-title">Sign In</div>
	                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
	                    </div>     
	
	                    <div style="padding-top:30px" class="panel-body" >
	
	                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
	                            
	                        <form id="loginform" class="form-horizontal" role="form">
	                                    
	                            <div style="margin-bottom: 25px" class="input-group">
	                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	                                        <input id="login-username" type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">                                        
	                                    </div>
	                                
	                            <div style="margin-bottom: 25px" class="input-group">
	                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                                        <input id="login-password" type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
	                           ng-model="password">
	                                    </div>
	
	                            <div class="input-group">
	                                      <div class="checkbox">
	                                        <label for="rememberMe">
	                                          <!-- <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me -->
												<input type="checkbox" class="inline_class" id="rememberMe" ng-model="rememberMe" checked>{{"login.form.rememberme" | translate}}                                          
	                                        </label>
	                                      </div>
	                                    </div>
	
	
	                                <div style="margin-top:10px" class="form-group">
	                                    <!-- Button -->
	
	                                    <div class="col-sm-12 controls">
	                                      <!-- <a id="btn-login" href="#" class="btn btn-success">Login  </a> -->                                
	                                      <button type="submit" class="btn btn-primary" ng-click="login()" translate="login.form.button">Authenticate</button>
	
	                                    </div>
	                                </div>
	
	
	                                <div class="form-group">
	                                    <div class="col-md-12 control">
	                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
	                                            Don't have an account! 
	                                        <a href="#/register">
	                                            Sign Up Here
	                                        </a>
	                                        </div>
	                                    </div>
	                                </div>    
<!-- 						            <div class="alert alert-warning" translate="global.messages.info.register">
						                You don't have an account yet? <a href=\"#/register\">Register a new account</a>
						            </div> -->                                
	                            </form>     
	
	                        </div>                     
	                    </div>  
	        </div>
</div>